@font-face {
  font-family: chirp-extended;
  src: url(../../chip/chirp-extended-heavy-web.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: chirp;
  src: url(../../chip/chirp-bold-web.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: chirp;
  src: url(/chip/chirp-regular-web.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Google Sans Medium"),
    url("/sans/ProductSans-Medium.woff") format("woff");
}

:root {
  --brand-color: rgb(29, 155, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: chirp, sans-serif;
}
