.container {
  display: flex;
  flex-direction: column;
}
.header {
  margin: 10px;
}

.header--icon {
  color: var(--brand-color);
  font-size: 3rem;
}
.header--icon__white {
  color: white;
  font-size: 20rem;
}
.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 750px;
}
.main--titles {
  margin-left: 15px;
  font-weight: 700;
}

h1.titles--title {
  letter-spacing: -1.2px;
  line-height: 84px;
}
h2.titles--title {
  font-size: 32px;
}
.main--buttons {
  display: flex;
  flex-flow: column nowrap;
  max-width: 300px;

  margin: 10px;
}
.main--button {
  padding: 10px;
  border: 0;
  border-radius: 999px;
  font-size: 12px;
  margin: 10px;
  width: 300px;
  font-weight: bold;
}
.main--button:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.main--button:nth-of-type(2) {
  font-weight: bold;
}
.main--button__white {
  border: 1px solid rgb(207, 217, 222);
  background: white;
}
.main--login h3 {
  margin: 40px 0 20px 10px;
  font-size: 0.9rem;
}

.main--button__blue {
  background-color: rgb(29, 155, 240) !important;
  max-width: 100%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
  font-weight: bold;
}

.main--button__white-blue {
  color: var(--brand-color);
  margin: 10px;
}

.main--division {
  display: flex;
  text-align: center;
  padding: 0 0 10px;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
}
.main--division .row {
  height: 1px;
  background-color: rgb(239, 243, 244);
  min-width: 0px;
  width: 120px;
}
.main--text {
  font-size: 10px;
  margin: 5px 20px 20px;
  text-align: center;
  margin: 0 auto;
}

.text--link {
  color: var(--brand-color);
}

.right {
  max-height: 100%;
  min-width: 45vw;
}

.background {
  max-height: 100%;
  background: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 55vw;
}

.footer {
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
}

.footer--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
}

.footer--list li a {
  color: #536471;
}

@media (min-width: 590px) {
  .container {
    flex-direction: row-reverse;
    gap: 5px;
    min-height: 900px;
  }

  .header,
  .main--titles {
    margin: 20px;
  }

  .main--button,
  .main--login h3 {
    font-size: 1rem;
  }
  .main--button__blue {
    font-size: 15px;
  }
  h1.titles--title {
    font-size: 64px;
    margin-bottom: 15px;
  }

  .right {
    padding: 36px;
  }
}
