.container {
  display: flex;
  order: 0;
  gap: 5px;
}
.header {
  margin: 20px;
}

.header--icon {
  color: var(--brand-color);
  font-size: 30px;
}

.header--icon__white {
  color: white;
  font-size: 200px;
}
.main {
  display: flex;
  flex-flow: column wrap;
}
.main--titles {
  margin: 20px;
  font-weight: 700;
}

h1.titles--title {
  font-size: 64px;
  margin-bottom: 15px;
  width: 500px;
  letter-spacing: -1.2px;
  line-height: 84px;
}
h2.titles--title {
  font-size: 32px;
}
.main--buttons {
  display: flex;
  flex-flow: column nowrap;
  max-width: 60%;
  margin: 10px;
}
.main--button {
  padding: 10px;
  border: 0;
  border-radius: 15px;
  font-size: 18px;
  margin: 10px;
  width: 300px;
}
.main--button:nth-of-type(2) {
  font-weight: bold;
}
.main--button__white {
  border: 1px solid gray;
  background: white;
}

.main--button__blue {
  background: var(--brand-color);
  color: white;
}

.main--button__white-blue {
  color: var(--brand-color);
}

.main--division {
  text-align: center;
  padding: 0 0 10px;
  padding-bottom: 0;
}

.main--text {
  font-size: 10px;
  width: 45%;
  margin: 5px 20px 20px;
  text-align: center;
}

.text--link {
  color: var(--brand-color);
}

.right {
  order: 1;
  max-height: 100%;
}

.background {
  max-height: 100%;
  background-color: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 42%;
}

.footer {
  width: 100%;
  padding: 20px;
  font-size: 12px;
}

.footer--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.footer--list li a {
  color: #536471;
}
